@import 'variables.less';


.ocdla-header-container{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
}
.ocdla-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ocdla-header a{
    display:flex;
    justify-content: space-around;
    color: @ocdla-blue;
    text-align: center;
    font-size: 1.5rem;
}

.ocdla-header a:link{
   text-decoration: none;
}

.ocdla-header a:hover{
    text-decoration: underline;
 }

.ocdla-header img{
    width: 20%;
}

#ocdla-subtitle{
    color: @ocdla-blue;
    padding: 0 3rem;
}

.ocdla-header div{
    position: relative;
}
