@import 'variables.less';


.ocdla-header-container{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
}
.ocdla-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;
}

.ocdla-header a{
    display:flex;
    justify-content: space-around;
    color: @ocdla-blue;
    text-align: center;
    font-size: 1.5rem;
}

.ocdla-header a:link{
   text-decoration: none;
}

.ocdla-header a:hover{
    text-decoration: underline;
 }

.ocdla-header img{
    width: 50%;
}

#ocdla-subtitle{
    color: @ocdla-blue;
    padding: 0 3rem;
    display: inline-block;
}


