@import 'variables.less';

.ocdla-masthead {
    background-color: @ocdla-blue;
}
#ocdla-masthead-links::before{
    display:block;
    background-image: url( "/resources/assets/lod-masthead-white.svg");
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
    content: "";
}