@import 'variables.less';

.ocdla-masthead {
    background-color: @ocdla-blue;
    display: flex;
}
#ocdla-masthead-links{
    display:block;
    background-image: url( "/resources/assets/lod-masthead-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 200px;
    content: "";
}