
<div class="ocdla-header-container">
	<header class="ocdla-header">
   		<a href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}">{{/icon}}
				{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
				{{^wordmark}}<span id="ocdla-subtitle">{{msg-tagline}}</span>{{/wordmark}}
			{{/data-logos}}
			</a>
			<div>
				Facebook link
			</div>
	</header>
</div>