<header class="ocdla-header">
    <a href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}">{{/icon}}
				{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
				{{^wordmark}}<h1>{{msg-tagline}}</h1>{{/wordmark}}
			{{/data-logos}}
			</a>
	<div>Strength in Numbers. Fairness in justice.</div>
</header>