<header class="ocdla-header">
    <div>This is the header</div>
    <a href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}" width="auto">{{/icon}}
				{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
				{{^wordmark}}<h1>{{msg-sitetitle}}</h1>{{/wordmark}}
			{{/data-logos}}
			</a>
</header>