<div id="ocdla-main-navigation">
    <h3>{{#entrance}}<a href={{href}}>{{entrance.entrance-title}}</a>{{/entrance}}</h3>
	<div class="site-navigation">
        {{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
            <div class="mw-default-hidden">{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}</div>
        {{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		</div>
</div>