<div id="ocdla-main-navigation">
    {{#data-search-box}}
    <div class="ocdla-search">
		<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
			<input type="hidden" name="title" value="{{page-title}}">
			<h3>
				<label for="searchInput">{{msg-search}}</label>
			</h3>
			{{{html-input}}}
			{{{html-button-search}}}
		</form>
    </div>
		{{/data-search-box}}

	<div class="site-navigation">
        <ul>
            {{#main-navigation-links}}
                <li>
                    <a href={{href}}>{{text}}</a>
                </li>
            {{/main-navigation-links}}
        </ul>
    </div>
</div>