<div class="ocdla-masthead" id="masthead">
		<a href="/" class="masthead_link">&nbsp;</a>
		<div id="ocdla-masthead-links" class="ocdla-link">
			<a href="" title="Go to the OCDLA homepage">
				<img src="" alt="Go to the OCDLA website">
			</a>
			<br>
			<a href="" title="Go to the OCDLA homepage">OCDLA HOME</a>
		</div>

		<div class="masthead_filler">&nbsp;</div>
    </div>