<div class="ocdla-masthead" id="masthead">
		<a href="/" class="masthead_link">&nbsp;</a>
		<div id="ocdla-masthead-links" class="ocdla-link">
			<ul>
			{{#masthead-nav-links}}
				<li>
					<a href={{href}}>{{text}}</a>
				</li>
			{{/masthead-nav-links}}
			</ul>
		</div>

		<div class="masthead_filler">&nbsp;</div>
    </div>