<div id="mw-wrapper">
	
	{{>Header}}
	{{>Masthead}}
	{{>MainNavigation}}
	 
	<div class="mw-body" id="content" role="main">
		<h3 id="ocdla-main-entrance">{{#entrance}}<a href={{href}}>{{entrance.entrance-title}}</a>{{/entrance}}</h3>
		    <div class="mw-default-hidden">
            {{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
                <div class="mw-default-hidden">{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}</div>
            {{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
        </div>
		
		<div id="siteNotice">{{{html-site-notice}}}</div>
		{{{html-user-message}}}
		<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
		<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
		</div>
		{{{html-title-heading}}}
		<div id="siteSub">{{msg-tagline}}</div>
		<div class="mw-body-content">
			<div id="contentSub">
				{{{html-subtitle}}}
				{{{html-undelete-link}}}
			</div>
			{{{html-body-content}}}
			<!-- todo: replace with .mixin-clearfix -->
			<div class="visualClear"></div>
			{{#data-portlets}}
			{{>CategoryPortlet}}
			{{/data-portlets}}
		</div>
		{{{html-after-content}}}
	</div>
	<div id="mw-navigation" class="mw-default-hidden">
		<h2>{{msg-navigation-heading}}</h2>
		<div id="p-logo" class="mw-portlet" role="banner">
			<a href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}" width="40" height="40">{{/icon}}
				{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
				{{^wordmark}}<h1>{{msg-sitetitle}}</h1>{{/wordmark}}
			{{/data-logos}}
			</a>
		</div>
		
		{{#data-portlets}}
		<div id="user-tools" class="mw-default-hidden">
			{{#data-user-page}}{{>Portlet}}{{/data-user-page}}
			{{#data-notifications}}{{>Portlet}}{{/data-notifications}}
			{{#data-user-interface-preferences}}{{>Portlet}}{{/data-user-interface-preferences}}
			{{#data-user-menu}}{{>Portlet}}{{/data-user-menu}}
		</div>
		<div id="page-tools" class="mw-default-hidden">
			{{#data-namespaces}}{{>Portlet}}{{/data-namespaces}}
			{{#data-variants}}{{>Portlet}}{{/data-variants}}
			{{#data-views}}{{>Portlet}}{{/data-views}}
			{{#data-actions}}{{>Portlet}}{{/data-actions}}
		</div>
		{{/data-portlets}}
	</div>
	<!--footer-->
	<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
		{{#data-footer}}
		{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
		{{!}}<div id="footer-list">
		{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
		{{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
		{{!}}</div>
		{{/data-footer}}
		<!-- todo: replace with .mixin-clearfix -->
		<div class="visualClear"></div>
	</div>
</div>
